/.vs/IPCPipeProcessCommunication/v14/.suo
/Debug/
/IPCPipeProcessCommunication.VC.db
/IPCPipeProcessCommunication.VC.VC.opendb
/Service/Debug/
/Client/Debug/
/ipch/
/CommonBase/Debug
/AdaptiveLayout/Debug
/AdaptiveLayout/GeneratedFiles/Debug
/AdaptiveLayout/GeneratedFiles
/Win32/Debug
/AdaptiveLayout/MessageBoxError.ui.bak
